.feed-spinner {
  width: 70px;
  margin: 30% auto auto auto;
}

.btn span.badge-like {
  display: inline-block;
  line-height: 1;
}

.card-testimonial .card-footer.post-footer {
  padding-top: 0;
  margin-bottom: 0;
}

.post-card-wrapper .card-testimonial.post-card.card {
  margin-top: 100px;
}

.card-testimonial .card-footer.post-footer h6 {
  padding-bottom: 0;
}

.post-card .card-body h3.card-title {
  margin-bottom: 0;
}

.post-card.card-testimonial.card div.card-body {
  margin-top: 0;
}

.post-time {
  font-size: 10px;
}

/* .badge-comments.badge.badge-info {
  margin-bottom: 0;
  line-height: 1;
} */

.btn span.badge-comments {
  display: inline-block;
  line-height: 1;
}

.card-collapse .card-plain.card .card-header a.view-comments:hover {
  color: #1d8cf8;
}

.card-collapse .card-plain.card .card-header a.view-comments {
  font-weight: 600;
  padding-left: 20px;
}

.card-plain.card .view-comments-header.card-header {
  padding-top: 0.5rem;
}

.comment-image img {
  border-radius: 50%;
  width: 50px;
  margin-left: 7%;
}

.view-comments-card.card-plain.card .view-comments-body {
  padding-top: 8px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 8px;
}

.comment-text-wrapper {
  /* float: left; */
  display: inline-block;
  width: 70%;
  text-align: left;
}

.comment-text span.comment-name a {
  color: #1d8cf8;
  font-weight: 600;
  margin-right: 5px;
}

.comment-text {
  font-size: 12px;
}

.view-comments-body.card-body .col-sm-3 {
  padding-left: 0;
}

.view-comments-body.card-body .col-sm-9 {
  padding-left: 0;
}

.comment-image-user img {
  border-radius: 50%;
  width: 50px;
  margin-left: 7%;
}

.comment-input-row.row input.comment-input {
  width: 80%;
  margin: auto;
}

.comment-input-row.row input.comment-input[type='text'] {
  font-size: 11px;
}

.comment-input-row.row {
  margin-bottom: 10px;
}

.view-comments-body.card-body .comment-wrapper.row {
  margin-top: 15px;
}

.comment-user-info {
  width: 10%;
  margin-right: 10px;
}

.comment-text-wrapper .comment-text textarea.comment-edit-input {
  width: 100%;
}

.comment-time {
  width: 15%;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding-left: 5px;
  padding-top: 2px;
}

.comment-edit:hover {
  color: #1d8cf8;
  cursor: pointer;
}
