.feed-spinner {
  width: 70px;
  margin: 30% auto auto auto;
}

.btn span.badge-like {
  display: inline-block;
}

.card-testimonial .card-footer.post-footer {
  padding-top: 0;
  margin-bottom: 0;
}

.card-testimonial .card-footer.post-footer h6 {
  padding-bottom: 0;
}

.post-card .card-body h3.card-title {
  margin-bottom: 0;
}

.post-card.card-testimonial.card div.card-body {
  margin-top: 0;
}

.post-time {
  font-size: 10px;
}
