.current-temp-nav {
  position: absolute;
  right: 215px;
  top: 10px;
  font-size: 11px;
}

.time-zone-nav {
  position: relative;
  text-align: center;
}

.temp-nav {
  position: relative;
  font-size: 14px;
  text-align: center;
}

.time-nav {
  margin-left: 5px;
}

.online-nav {
  color: #525f7f;
  position: absolute;
  right: 20px;
  font-size: 12px;
}

@media only screen and (max-width: 580px) {
  .current-temp-nav {
    display: none;
  }
}
